{% extends 'base.html.twig' %}

{% block title %}Florian Vernieres{% endblock %}

{% block body %}
    <body id="page-top">

        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                {% for information in informations %}
                    {% if information.filenameprofil %}
                        <img  class="masthead-avatar mb-5" src="{{ vich_uploader_asset(information, 'imageFileProfil') }}" alt="ma photo"/>
                    {% endif %}
                {% endfor %}


                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Florian Vernieres</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-user-alt"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Sous-titre introduction -->
                <p class="masthead-subheading font-weight-light mb-0">{% for information in informations %}{{ information.statut }}{% endfor %}</p>
            </div>
        </header>

        <!-- Partie Portfolio -->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Entête du portfolio -->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
                <!-- Icone divider -->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-desktop"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Items -->
                    {% for projet in projets | reverse %}
                        <div class="col-md-6 col-lg-4 mb-5">
                            <a class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{ projet.id }}" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-75">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus"></i><br />{{ projet.Nom }}</div>
                                </div>
                                {% if projet.filename %}
                                    <img class="img-fluid" src="{{ vich_uploader_asset(projet, 'imageFile') }}" alt=""  style="width: 200px; height: auto;" />
                                {% else %}
                                    <img class="img-fluid" src="{{ asset('img/portfolio/cabin.png') }}" alt="" style="width: 350px; "/>
                                {% endif %}
                            </a>
                        </div>
                        <!-- Portfolio Modals-->
                        <div class="portfolio-modal modal fade" id="portfolioModal{{ projet.id }}" tabindex="-1" role="dialog" aria-labelledby="portfolioModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                    </button>

                                    <div class="modal-body text-center">
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-8">
                                                    <!-- Portfolio Modal - Title-->
                                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModalLabel">{{ projet.Nom }}</h2>
                                                    <!-- Icon Divider-->
                                                    <div class="divider-custom">
                                                        <div class="divider-custom-line"></div>
                                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                        <div class="divider-custom-line"></div>
                                                    </div>
                                                    <!-- Image d'illustration du projet-->
                                                    {% if projet.filename %}
                                                        <img class="img-fluid" src="{{ vich_uploader_asset(projet, 'imageFile') }}" alt=""  style="width: 200px; height: auto;"/>
                                                    {% else %}
                                                        <img class="img-fluid" src="{{ asset('img/portfolio/cabin.png') }}" alt="" style="width: 350px; "/>
                                                    {% endif %}
                                                    <!-- Description rapide du projet -->
                                                    <p class="mb-5">{{ projet.miniDescription }}</p>

                                                    <a href="{{ path('projet_show',{'id': projet.id} ) }}" class="btn btn-secondary" >
                                                        <i class="fas fa-times fa-eye"></i>
                                                        Voir le Projet
                                                    </a>
                                                    <button class="btn btn-primary" data-dismiss="modal">
                                                        <i class="fas fa-times fa-fw"></i>
                                                        Fermer la fenêtre
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>


        <!-- Section A propos -->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- Entête -->
                <h2 class="page-section-heading text-center text-uppercase text-white">A propos de moi</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-info-circle"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Texte présentation -->
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">{% for information in informations %}{{ information.description }}{% endfor %} </p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">{% for information in informations %}{{ information.description2 }}{% endfor %} </p></div>
                </div>
                <!-- Bouton télécharger CV-->
                {% for information in informations %}
                    {% if information.filenamecv %}
                        <div class="text-center mt-4">
                            <a class="btn btn-xl btn-outline-light" href="{{ vich_uploader_asset(information, 'imageFileCV') }}">
                                <i class="fas fa-download mr-2"></i>
                                Télécharger mon CV
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>

        <!-- Partie contact -->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Entête -->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Me contacter</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-address-card"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                        <form id="contactForm" name="sentMessage" novalidate="novalidate">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Nom</label>
                                    <input class="form-control" id="name" type="text" placeholder="Nom" required="required" data-validation-required-message="Veuillez entrer votre nom." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Adresse mail</label>
                                    <input class="form-control" id="email" type="email" placeholder="Adresse mail" required="required" data-validation-required-message="Veuillez entrer votre adresse mail." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Numéro</label>
                                    <input class="form-control" id="phone" type="tel" placeholder="Numéro de téléphone" required="required" data-validation-required-message="Veuillez entrer votre numéro de téléphone." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Message</label>
                                    <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Veuillez entrer un message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br />
                            <div id="success"></div>
                            <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Envoyer</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
{% endblock %}
