{% extends 'base.html.twig' %}

{% block title %}Florian Vernieres{% endblock %}

{% block body %}
    <body id="page-top">
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    Le formulaire n'a pas été rempli correctement
                </div>
            {% endif %}

            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                {% for information in informations %}
                    {% if information.filenameprofil %}
                        <img  class="masthead-avatar mb-5" src="{{ vich_uploader_asset(information, 'imageFileProfil') }}" alt="ma photo"/>
                    {% endif %}
                {% endfor %}

                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Florian Vernieres</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-user-alt"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Sous-titre introduction -->
                <p class="masthead-subheading font-weight-light mb-0">{% for information in informations %}{{ information.statut }}{% endfor %}</p>
            </div>
        </header>

        <!-- Partie Portfolio -->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Entête du portfolio -->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
                <!-- Icone divider -->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-desktop"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Items -->
                    {% for projet in projets | reverse %}
                        <div class="col-md-6 col-lg-4 mb-5 ">
                            <a class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{ projet.id }}" >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-75 " style="margin-left: 13%">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus"></i><br />{{ projet.Nom }}</div>
                                </div>
                                {% if projet.filename %}
                                    <img class=" img-fluid" style="width: 150px;height: auto; margin-left: 25%;" src="{{ vich_uploader_asset(projet, 'imageFile') }}" alt="illustration du projet" />
                                {% endif %}
                            </a>
                        </div>
                        <!-- Portfolio Modals-->
                        <div class="portfolio-modal modal fade" id="portfolioModal{{ projet.id }}" tabindex="-1" role="dialog" aria-labelledby="portfolioModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl" role="document">
                                <div class="modal-content">
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                    </button>

                                    <div class="modal-body text-center">
                                        <div class="container">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-8">
                                                    <!-- Portfolio Modal - Title-->
                                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0" id="portfolioModalLabel">{{ projet.Nom }}</h2>
                                                    <!-- Icon Divider-->
                                                    <div class="divider-custom">
                                                        <div class="divider-custom-line"></div>
                                                        <div class="divider-custom-icon"><i class="fas fa-desktop"></i></div>
                                                        <div class="divider-custom-line"></div>
                                                    </div>
                                                    <!-- Image d'illustration du projet-->
                                                    {% if projet.filename %}
                                                        <img class="img-fluid" style="height: 150px; width: auto" src="{{ vich_uploader_asset(projet, 'imageFile') }}" alt="illustration du projet" />
                                                    {% endif %}
                                                    <!-- Description rapide du projet -->
                                                    <p class="mb-5 texte">{{ projet.miniDescription }}</p>

                                                    <a href="{{ path('projet_show',{'id': projet.id} ) }}" class="btn btn-primary btn-xl" >
                                                        <i class="fas fa-times fa-eye"></i>
                                                        Voir le Projet
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>


        <!-- Section A propos -->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- Entête -->
                <h2 class="page-section-heading text-center text-uppercase text-white">A propos de moi</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-info-circle"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Texte présentation -->
                <div class="row">
                    <div class="col-lg-4 ml-auto" style="text-align: justify;"><p class="lead">{% for information in informations %}{{ information.description }}{% endfor %} </p></div>
                    <div class="col-lg-4 mr-auto" style="text-align: justify;"><p class="lead">{% for information in informations %}{{ information.description2 }}{% endfor %} </p></div>
                </div>
                <!-- Bouton télécharger CV-->
                {% for information in informations %}
                    {% if information.filenamecv %}
                        <div class="text-center mt-4">
                            <a class="btn btn-xl btn-outline-light" href="{{ vich_uploader_asset(information, 'imageFileCV') }}">
                                <i class="fas fa-download mr-2"></i>
                                Télécharger mon CV
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>

        <!-- Partie contact -->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Entête -->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Me contacter</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-address-card"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row">
                    <div class="col-lg-8 mx-auto" id="contactForm">
                        {{ form_start(form) }}
                            <div class="control-group">
                                <h5>Nom</h5>
                                <div class="form-group floating-label-form-group controls mb-0 pb-2" >
                                    {{ form_row(form.firstname) }}
                                </div>
                            </div>
                            <br />

                            <div class="control-group">
                                <h5>Numéro de téléphone</h5>
                                <div class="form-group floating-label-form-group controls mb-0 pb-2" >
                                    {{ form_row(form.phone) }}
                                </div>
                            </div>
                            <br />

                            <div class="control-group">
                                <h5>Adresse mail</h5>
                                <div class="form-group floating-label-form-group controls mb-0 pb-2" >
                                    {{ form_row(form.email) }}
                                </div>
                            </div>
                            <br />

                            <div class="control-group">
                                <h5>Message</h5>
                                <div class="form-group floating-label-form-group controls mb-0 pb-2" >
                                {{ form_row(form.message) }}
                                </div>
                            </div>
                             <br />
                        <div class="form-group">
                            <button class="btn btn-primary btn-xl">Envoyer <i class="fas fa-share-square"></i></button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>
    </body>
{% endblock %}
