{% extends 'base.html.twig' %}

{% block title %}{{ projet.Nom }}{% endblock %}

{% block body %}
    <body id="page-top">
        <!-- Masthead-->
        <header class="masthead  text-black text-center">
            {% if projet.filename %}
                <img class="img-fluid" src="{{ vich_uploader_asset(projet, 'imageFile') }}" alt=""  style="width: 200px; height: auto;"/>
                <br /><br />
            {% endif %}

            <h1>{{ projet.Nom }}</h1>
            <br />
            <div class="container">
                <div class="row">
                    {% if projet.lienGit %}
                        <div class="col-lg-6">
                            <a href="{{ projet.lienGit }}" style="font-size: x-large"><i class="fab fa-github  fa-lg"></i> Dépôt github du projet</a>
                        </div>
                    {% endif %}
                    {% if projet.lienLinkedin %}
                        <div class="col-lg-6">
                            <a href="{{ projet.lienLinkedin }}" style="font-size: x-large;"><i class="fab fa-linkedin  fa-lg"></i> Article LinkedIn du projet</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>
        <article>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <pre style="font-family: 'Montserrat',serif; font-size: x-large;">{{ projet.Description }}</pre>
                </div>
                <div class="col-md-1"></div>
            </div>
        </article>
    </body>

{% endblock %}
